@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["autor"] = "Diego Ol.";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["email"]</p>
<p>@ViewData["autor"]</p>

